*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/libraries
/.idea/modules.xml
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
project.properties
